In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from google.cloud import bigquery
from google.oauth2 import service_account

In [3]:
key_path = '../service_account/gentle-keyword-423715-j0-03be08ad6412.json'

credentials = service_account.Credentials.from_service_account_file(
    key_path,
    scopes=["https://www.googleapis.com/auth/bigquery"]
)

In [4]:
from google.cloud import bigquery

client = bigquery.Client(
    credentials = credentials,
    project=credentials.project_id
)

In [5]:
# Create dataset reference
dataset_ref = client.dataset('google_analytics_sample', project='bigquery-public-data')
# Retrieve dataset from reference
dataset = client.get_dataset(dataset_ref)

In [6]:
# Try if this connected

query = """
SELECT *
FROM `bigquery-public-data.google_analytics_sample.ga_sessions_20160801`
LIMIT 5
"""

df = client.query(query).to_dataframe()
print(df.info())
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   visitorId             0 non-null      Int64
 1   visitNumber           5 non-null      Int64
 2   visitId               5 non-null      Int64
 3   visitStartTime        5 non-null      Int64
 4   date                  5 non-null      object
 5   totals                5 non-null      object
 6   trafficSource         5 non-null      object
 7   device                5 non-null      object
 8   geoNetwork            5 non-null      object
 9   customDimensions      5 non-null      object
 10  hits                  5 non-null      object
 11  fullVisitorId         5 non-null      object
 12  userId                0 non-null      object
 13  channelGrouping       5 non-null      object
 14  socialEngagementType  5 non-null      object
dtypes: Int64(4), object(11)
memory usage: 752.0+ bytes
None

,visitorId,visitNumber,visitId,visitStartTime,date,totals,trafficSource,device,geoNetwork,customDimensions,hits,fullVisitorId,userId,channelGrouping,socialEngagementType
0,<NA>,1,1470046245,1470046245,20160801,"{'visits': 1, 'hits': 24, 'pageviews': 17, 'ti...","{'referralPath': None, 'campaign': '(not set)'...","{'browser': 'Firefox', 'browserVersion': 'not ...","{'continent': 'Europe', 'subContinent': 'Weste...","[{'index': 4, 'value': 'EMEA'}]","[{'hitNumber': 1, 'time': 0, 'hour': 3, 'minut...",895954260133011192,None,Organic Search,Not Socially Engaged
1,<NA>,1,1470084717,1470084717,20160801,"{'visits': 1, 'hits': 24, 'pageviews': 18, 'ti...","{'referralPath': None, 'campaign': '(not set)'...","{'browser': 'Internet Explorer', 'browserVersi...","{'continent': 'Americas', 'subContinent': 'Nor...","[{'index': 4, 'value': 'North America'}]","[{'hitNumber': 1, 'time': 0, 'hour': 13, 'minu...",0288478011259077136,None,Direct,Not Socially Engaged
2,<NA>,3,1470078988,1470078988,20160801,"{'visits': 1, 'hits': 27, 'pageviews': 17, 'ti...","{'referralPath': None, 'campaign': '(not set)'...","{'browser': 'Safari', 'browserVersion': 'not a...","{'continent': 'Americas', 'subContinent': 'Nor...","[{'index': 4, 'value': 'North America'}]","[{'hitNumber': 1, 'time': 0, 'hour': 12, 'minu...",6440789996634275026,None,Organic Search,Not Socially Engaged
3,<NA>,4,1470075581,1470075581,20160801,"{'visits': 1, 'hits': 27, 'pageviews': 19, 'ti...","{'referralPath': '/', 'campaign': '(not set)',...","{'browser': 'Chrome', 'browserVersion': 'not a...","{'continent': 'Americas', 'subContinent': 'Nor...","[{'index': 4, 'value': 'North America'}]","[{'hitNumber': 1, 'time': 0, 'hour': 11, 'minu...",8520115029387302083,None,Referral,Not Socially Engaged
4,<NA>,30,1470099026,1470099026,20160801,"{'visits': 1, 'hits': 27, 'pageviews': 17, 'ti...","{'referralPath': None, 'campaign': '(not set)'...","{'browser': 'Chrome', 'browserVersion': 'not a...","{'continent': 'Americas', 'subContinent': 'Nor...","[{'index': 4, 'value': 'North America'}]","[{'hitNumber': 1, 'time': 0, 'hour': 17, 'minu...",6792260745822342947,None,Organic Search,Not Socially Engaged

In [29]:
query = """
SELECT
  products.v2ProductCategory as category,
  products.v2ProductName as product,
  SUM(totals.visits) as total_visits,
  SUM(totals.pageviews) as total_page_views,
  SUM(totals.timeOnSite) as total_time_on_site,
  SUM(totals.screenviews) as total_screen_views,
  SUM(totals.transactions) as total_transactions,
  SUM(totals.transactionRevenue) as total_revenue,
  AVG(totals.transactionRevenue) as avg_revenue,
  SUM(totals.uniqueScreenviews) as total_unique_screen_views
FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*` h,
    UNNEST(h.hits) hits,
    UNNEST(hits.product) products
WHERE 
  (_TABLE_SUFFIX BETWEEN '20170501' AND '20170801')
  AND
    (
      hits.eCommerceAction.action_type != '0'
      AND
      hits.eCommerceAction.action_type != '3'
      AND
      hits.eCommerceAction.action_type != '4'
    )
  AND
  (geoNetwork.country = 'United States')
  AND
  (
  products.v2ProductCategory LIKE '%Accessories%'
  OR products.v2ProductCategory LIKE '%Electronics%'
  OR products.v2ProductCategory LIKE '%Office%'
  OR products.v2ProductCategory LIKE "%Men's%"
  OR products.v2ProductCategory LIKE "%Women's%"
  OR products.v2ProductCategory LIKE '%Shop by Brand%'
  )
GROUP BY category, product
"""

df_totals = client.query(query).to_dataframe()
print(df_totals.info())
df_totals.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535 entries, 0 to 534
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   category                   535 non-null    object
 1   product                    535 non-null    object
 2   total_hits                 535 non-null    Int64
 3   total_visits               535 non-null    Int64
 4   total_page_views           535 non-null    Int64
 5   total_first_visits         507 non-null    Int64
 6   total_time_on_screen       0 non-null      Int64
 7   avg_time_on_screen         0 non-null      float64
 8   total_time_on_site         534 non-null    Int64
 9   avg_time_on_site           534 non-null    float64
 10  total_screen_views         0 non-null      Int64
 11  total_transactions         419 non-null    Int64
 12  total_revenue              419 non-null    Int64
 13  avg_revenue                419 non-null    float64
 14  total_unique_screen_views  0 non-null      Int64
dtypes: Int64(10), float64(3), object(2)
memory usage: 68.0+ KB
None

,category,product,total_hits,total_visits,total_page_views,total_first_visits,total_time_on_screen,avg_time_on_screen,total_time_on_site,avg_time_on_site,total_screen_views,total_transactions,total_revenue,avg_revenue,total_unique_screen_views
0,Home/Accessories/Fun/,Google Sunglasses,68049,1893,47877,1090,<NA>,NaN,1817746,961.261766,<NA>,398,57004910000,1.480647e+08,<NA>
1,Home/Electronics/Power/,Clip-on Compact Charger,15771,340,10964,197,<NA>,NaN,418950,1232.205882,<NA>,48,5056740000,1.053488e+08,<NA>
2,Home/Electronics/,Google Tube Power Bank,9036,244,6395,139,<NA>,NaN,215428,882.901639,<NA>,34,7216850000,2.255266e+08,<NA>
3,Home/Accessories/Stickers/,8 pc Android Sticker Sheet,12019,300,7952,137,<NA>,NaN,286378,954.593333,<NA>,84,19830590000,2.478824e+08,<NA>
4,Home/Shop by Brand/YouTube/,YouTube Leatherette Notebook Combo,14162,685,9544,456,<NA>,NaN,387667,569.261380,<NA>,71,11713530000,1.649793e+08,<NA>

In [30]:
df_totals = df_totals.dropna(axis=1, how='all').fillna(0)

print(df_totals.info())
df_totals.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535 entries, 0 to 534
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   category            535 non-null    object
 1   product             535 non-null    object
 2   total_hits          535 non-null    Int64
 3   total_visits        535 non-null    Int64
 4   total_page_views    535 non-null    Int64
 5   total_first_visits  535 non-null    Int64
 6   total_time_on_site  535 non-null    Int64
 7   avg_time_on_site    535 non-null    float64
 8   total_transactions  535 non-null    Int64
 9   total_revenue       535 non-null    Int64
 10  avg_revenue         535 non-null    float64
dtypes: Int64(7), float64(2), object(2)
memory usage: 49.8+ KB
None

,category,product,total_hits,total_visits,total_page_views,total_first_visits,total_time_on_site,avg_time_on_site,total_transactions,total_revenue,avg_revenue
0,Home/Accessories/Fun/,Google Sunglasses,68049,1893,47877,1090,1817746,961.261766,398,57004910000,1.480647e+08
1,Home/Electronics/Power/,Clip-on Compact Charger,15771,340,10964,197,418950,1232.205882,48,5056740000,1.053488e+08
2,Home/Electronics/,Google Tube Power Bank,9036,244,6395,139,215428,882.901639,34,7216850000,2.255266e+08
3,Home/Accessories/Stickers/,8 pc Android Sticker Sheet,12019,300,7952,137,286378,954.593333,84,19830590000,2.478824e+08
4,Home/Shop by Brand/YouTube/,YouTube Leatherette Notebook Combo,14162,685,9544,456,387667,569.261380,71,11713530000,1.649793e+08

In [31]:
def categorized(x):
    category = []
    categories = ['Accessories', 'Electronics', 'Office', 'Men\'s', 'Women\'s', 'Shop by Brand']
    for i in x:
        for cat in categories:
            if i.find(cat) != -1:
                category.append(cat)
    if len(category) == 0:
        return None
    return category[-1]

df_totals['category'] = df_totals['category'].str.split('/').apply(categorized)
df_totals = df_totals.groupby(['category', 'product']).mean().reset_index()
print(df_totals.info())
df_totals.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   category            308 non-null    object
 1   product             308 non-null    object
 2   total_hits          308 non-null    Float64
 3   total_visits        308 non-null    Float64
 4   total_page_views    308 non-null    Float64
 5   total_first_visits  308 non-null    Float64
 6   total_time_on_site  308 non-null    Float64
 7   avg_time_on_site    308 non-null    float64
 8   total_transactions  308 non-null    Float64
 9   total_revenue       308 non-null    Float64
 10  avg_revenue         308 non-null    float64
dtypes: Float64(7), float64(2), object(2)
memory usage: 28.7+ KB
None

,category,product,total_hits,total_visits,total_page_views,total_first_visits,total_time_on_site,avg_time_on_site,total_transactions,total_revenue,avg_revenue
0,Accessories,1 oz Hand Sanitizer,4687.5,112.5,3254.0,53.0,135448.0,1213.307738,33.0,4943715000.0,1.544911e+08
1,Accessories,"7"" Dog Frisbee",5257.0,102.0,3440.0,37.0,109888.0,1077.333333,43.0,13088290000.0,4.222029e+08
2,Accessories,8 pc Android Sticker Sheet,7328.0,183.0,4905.5,84.0,186822.0,1138.402727,54.5,12377230000.0,2.224186e+08
3,Accessories,Android Luggage Tag,753.0,30.0,518.5,15.0,23835.0,878.412067,0.0,0.0,0.000000e+00
4,Accessories,Android Lunch Kit,5829.5,151.0,4181.0,97.0,166247.0,1117.292460,16.0,1879085000.0,1.312054e+08

In [32]:
categories = df_totals['category'].unique()
selected = []

for cat in categories:
    temp = df_totals[df_totals['category'] == cat]
    top10 = list(temp.sort_values(by='total_transactions', ascending=False).head(10)['product'].values)
    selected = selected + top10

df_result = df_totals[df_totals['product'].isin(selected)]

In [33]:
df_result.to_csv('top-product.csv', index=False)